<component name="ArtifactManager">
  <artifact type="war" name="SpringMVC_URL:war">
    <output-path>$PROJECT_DIR$/SpringMVC_URL/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringMVC_URL</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringMVC_URL-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVC_URL:war exploded" />
    </root>
  </artifact>
</component>