<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 表示主配置文件,包含其他的配置文件，一般不定义对象 -->
    <import resource="classpath:bg03/spring-student.xml"/>
    <import resource="classpath:bg03/spring-school.xml"/>

    <!-- 通配符的方式 -->
    <import resource="classpath:bg03/spring-*.xml"/>

</beans>